<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mrsgx.airpodsdot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".receiver.AirPodsDotReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name=".services.AirPodsDotService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name=".MyMessagingService" />

        <receiver android:name=".MessageReadReceiver">
            <intent-filter>
                <action android:name="org.mrsgx.airpodsdot.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MessageReplyReceiver">
            <intent-filter>
                <action android:name="org.mrsgx.airpodsdot.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>